body {
  background: #EEE;
  margin: 0;
  padding: 0;
}


ul {
  padding: 0;
  margin: 0;
}

li {
  color: #FFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

.active {
  color: #88CCF1;
}

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
  font-size:18px;
  border:2px solid black;
  text-align: center;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}

.search {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}

header{
  background-color: #1BC0F7;
  height: 220px;
  width:  100%;  
}
header img {
  margin-top: 10px;
  margin-left: 40px;
  float: left;
  }


.container{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

nav {
    float: right;;
}

nav ul {
  margin-top: 100px;
  margin-right: 100px;


}

nav ul li {
  display: inline-block;
  
}

nav ul li a {
  font-family:arial;
  font-size: 30px;
}
