html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color: white;
	text-decoration: none;
}


header{
	background-color: #1BC0F7;
	height: 220px;
	width:	100%;  
}
header img {
	margin-top: 10px;
	margin-left: 40px;
	float: left;


}

.container{
	width: 1000px;
	margin: 0 auto;
}

nav {
	 	float: right;;
}

nav ul {
	margin-top: 100px;
	margin-right: 100px;

}

nav ul li {
	display: inline-block;
	margin-left: 40px;
}

nav ul li a {
	font-family:arial;
	font-size: 40px;
	word-spacing: 30px;
}

.film {	
	background-color: green;
	display: block;

}


.sectiune_text h1 {
	padding-top: 50px;
	text-align: center;
	padding-bottom: 20px;
    font-size: 35px;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 3px yellow;
 }

.sectiune_text p{
	text-align: center;
	font-size: 20px;
	font-family: Arial;

}

.sectiune_text_telefon{
	display: none;
}

.sectiune_text div{
	background-color: green;
}

.articole {
	background-color: grey;
	width: 100%;
	padding: 30px 0px;
	overflow: hidden;

}



.imgart {
	height: 125px;
	width: 100%;
	background-color: black: 
}


.articole article {
	width: 23%;
	float: left;
	margin:0px 1%;
}

.articole article h2 {
	text-align: center;
	text-transform: uppercase;   /*doar litere mari*/
	padding: 10px 0px;
	font-weight: 600;
	font-size: 20px;
	font-family: Arial;

}

.articole article p {
	
	text-indent: 15px;
	padding: 0px 15px 15px 15px ;	
	font-size: 10px;
	font-family: Arial;

}

.tabel {
	background-color: yellow; 
	width: 100%;
	padding: 60px 0px;
}

.tabel table{
	width: 100%;
	background-color: grey;

}

.tabel table th {
	text-align: left;
	font-size: 20px;
	padding: 5px 0px;

}

.tabel table tr {
	border-style: solid;
	border-width: 2px;
	border-image: black;


	}


.tabel table td {
	color: green;
	padding: 7.5px 0px;
	

	}

.contact {
	width: 100%;
	background-color: #222;
	padding: 20px 0px;

}

.contact input {
	width: 30%;
	margin-bottom: 5px;
	text-indent: 10px;
	border: 2px solid green;

}

.radioform {
	width: 2% !important;
}



footer {
	
	background-color: green;
	padding: 2px 0px;

}

footer h1{
	text-align: right;

}

@media (max-width:700px) {
	.sectiune_text {
		display: none;
	}
	.sectiune_text_telefon {
		display: block;
	}

	.sectiune_text h1 {
	  font-size: 40px;
    
 	}

	.sectiune_text p{
	color: red;
	}
}